/* Larger Views ******************************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }
}

/* Asegura que no exceda 3 columnas */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}